.painting-list {
    margin-top: 42px;
}

.painting-list__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.painting-list__item {
    width: 360px;
    height: 275px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 20px;
}

