.painting-list {
    margin-top: 29px;

    @media (min-width: 1024px) {
        margin-top: 30px;
    }
}

.painting-list__list {
    width: 280px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media (min-width: 768px) {
        width: 700px;
        justify-content: space-between;
    }

    @media (min-width: 1024px) {
        width: 940px;
    }

    @media (min-width: 1366px) {
        width: 1120px;
    }
}

.painting-list__item {
    position: relative;
    width: 280px;
    height: 205px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 20px;

    @media (min-width: 768px) {
        width: 340px;
        height: 249px;
    }

    @media (min-width: 1024px) {
        width: 300px;
        height: 230px;
    }

    @media (min-width: 1366px) {
        width: 360px;
        height: 275px;
    }
}

.painting-list__description-wrapper {
    position: absolute;
    width: 100%;
    padding: 5px 15px;
    background: rgba(255, 255, 255, 0.75);
    bottom: 0;

    h2 {
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;
        text-transform: capitalize;
    }

    p {
        font-weight: 500;
        font-size: 13px;
        line-height: 20px;
    }

    &:hover .painting-list__text-title {
        display: block;
    }
}

.painting-list__text-title {
    display: none;
}


